/* Custom styles for responsive design */
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .btn {
    margin-bottom: 5px;
  }
}

body {
  padding-bottom: 20px;
}